<% @carts.each do |cart| %>
	<div class="pod col-xs-10 col-xs-offset-1">
		<h1><%= link_to cart.name, cart_path(cart) %></h1>
		<i><%= cart.address %></i><br /><br />
		<p><%= cart.description %></p><br />

		<% if cart.user.present? %>
			 <small><%= cart.user.email %></small>
		<% end %>
	</div>

<% end %>