<div class="pod col-xs-10 col-xs-offset-1">
	<h1><%= @cart.name %></h1>
	<i><%= @cart.address %></i>
	<br/><br/>
	<p><%= @cart.description %></p>
	<div class="pull-right">
		<%= link_to 'Edit', edit_cart_path(@cart), :class => 'btn btn-primary' %>
	</div>
</div>